body {
  width: 100%;
  overflow-x: hidden
}

.text-muted {
  display: none !important;
}

.navbar-brand {
  font-size: x-large;
}

.alinks {
  color: #fff;
  font-size: large;
}

.flexStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}



@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  .login-img {
    display: none;
  }
}