{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-5 mb-5 pt-4">
        <form action="" method="post">
            <fieldset class="form-group">
                <legend class="border-bottom border-dark">Add Item</legend>
                {% csrf_token %}
                {{form|crispy}}
            </fieldset>
            <div class="d-flex flex-row justify-content-end">
                <button type="submit" class="btn btn-dark d-flex">Add Item</button>
            </div>
           
        </form>
    </div>
{% endblock %}